*{
    padding: 0px;
    margin: 0px;
}
header{
    width: 100%;
    height:100px;
    background-color: aquamarine;
}
nav{
    margin-top: 15px;
    background-color: #00A69B;
    width: 100%;
    height: 50px;
}
nav>ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    position: relative;
}
nav>ul>li{
   width: 25%;
   position: relative;
}
nav>ul>li>a{
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    line-height: 50px;
}
li:hover{
    background-color: #5F5C5C;
}
.item2>a{

    text-decoration: none;
    color: white;
    display: inline-block;
}
.list2{
    width: 100%;
    background-color: #00A69B;
    list-style-position: inside;
    display: none;
    position:absolute;
}
.item2{
    height: 50px;
    padding-left: 20px;
    border-bottom: 1px solid white;
    line-height: 50px;
}

nav>ul>li:hover .list2{
    display: block;
} 
section{
    display: flex;
    height: 550px;
    color: #004080;

}
.Tusach{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.content{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.dong{
    height: 200px;
    display: flex;
    width: 80%;
}
.anh{
    width: 250px;
    height: 200px;
}
.chu{
    padding-left: 10px;
}
footer{
    color: white;
    text-align: center;
    background-color: #000;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
   
}